/* Index */
hr {
    width: auto;
    margin: 0px 15px 4px 15px;
  }

.mB-30 {
    margin-bottom: 30px;
}

#logo {
  height: 12rem;
  width: 15rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}